<template>
  <div class="footer">
      This is a footer
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.footer {
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background: #2a3e51;
}
</style>