<template>
  <div>
    <div class="header">
      <img src="~/static/images/logo-TOIDI.png" class="logo-app"/>
      <b-form-input type="search" placeholder="Nhập tìm kiếm" class="edt-search"></b-form-input>
      <div class="div-info">
        <span><b-icon icon="inbox" aria-hidden="true"></b-icon>Email</span>
        <span>09:00 - 17:00</span>
        <span>+84 368712937</span>
      </div>
    </div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item href="/">TRANG CHỦ</b-nav-item>
        <!-- Navbar dropdowns -->
        <b-nav-item-dropdown text="ĐIỂM ĐẾN" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Ninh Bình</b-dropdown-item>
          <b-dropdown-item href="#">Hà Nam</b-dropdown-item>
          <b-dropdown-item href="#">Hà Giang</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="ẨM THỰC" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Sài Gòn</b-dropdown-item>
          <b-dropdown-item href="#">Nha Trang</b-dropdown-item>
          <b-dropdown-item href="#">Đà Nẵng</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="LỊCH TRÌNH" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Ninh Bình</b-dropdown-item>
          <b-dropdown-item href="#">Hà Nam</b-dropdown-item>
          <b-dropdown-item href="#">Hà Giang</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="TRẢI NGHIỆM" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Ninh Bình</b-dropdown-item>
          <b-dropdown-item href="#">Hà Nam</b-dropdown-item>
          <b-dropdown-item href="#">Hà Giang</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="TEAM DU LICH VÀ TRẢI NGHIỆM" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Ninh Bình</b-dropdown-item>
          <b-dropdown-item href="#">Hà Nam</b-dropdown-item>
          <b-dropdown-item href="#">Hà Giang</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="KHÁCH HÀNG" left>
          <b-dropdown-item href="#">Hà Nội</b-dropdown-item>
          <b-dropdown-item href="#">Ninh Bình</b-dropdown-item>
          <b-dropdown-item href="#">Hà Nam</b-dropdown-item>
          <b-dropdown-item href="#">Hà Giang</b-dropdown-item>
        </b-nav-item-dropdown>
         <b-nav-item href="/login">ĐĂNG NHẬP</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style>
.header {
  display: flex;
}

.edt-search {
  max-width: 500px;
  border-radius: 20px;
  margin: 35px 75px;
}

.div-info {
  margin: 40px 0px;
}

.div-info > span {
  padding: 15px;
  border-right: 1px solid #2a3e51;
}

.bg-dark {
  background: #2a3e51 !important;
}

.nav-item {
  font-size: 14px;
  margin: 0px 10px;
  font-weight: bold;
}

.nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-item:hover {
  background: #6e9926;
  border-radius: 20px;
}

.logo-app {
  margin: 20px;
}
</style>