<template>
    <div class="post-item" style="width: 265px; height: 450px">
        <img :src="srcImg" :alt="alt" style="width: 265px; height: 200px; border-radius: 20px;"/>
        <div class="box-text">
            <h5 class="post-title"><slot name="title"></slot></h5>
            <p><slot name="description"></slot></p>
        </div>
        <button class="btn-detail" @click="detailClick">Chi tiết</button>
    </div>
</template>

<script>
export default {
    name: 'PostItem',
    props: {
        srcImg: { type: String, require: false, default: '' },
        alt: { type: String, require: false, default: '' },
    },
    methods: {
        detailClick() {
            this.$emit('close')
        },
    },
}
</script>

<style scoped>
.btn-detail {
    color: #FFFFFF;
    background: #6e9926;
}

.box-text {
    margin-top: 10px;
}
</style>