<template>
  <div>
    <Header />
    <div class="banner">
      <img
        src="~/static/images/banner.jpg"
        class="banner-img"
        style="width: 100%; height: 500px"
      />
    </div>
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
export default {
}
</script>

<style>

</style>