<template>
  <div class="container-fluid main_container">
    <Nuxt />
  </div>
</template>

<style scoped>
body,
html {
  height: 100%;
  margin: 0;
}
.main_container {
  height: 100vh;
  background-image: url('~/static/images/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}
</style>