<template>
  <div class="container">
    <div v-for="item in items" v-bind:key="item.id" class="div-detail">
      <h2 class="post-title">{{ item.title }}</h2>
      <img :src="item.img" style="width: 700px; height: 500px" />
      <p class="post-description">{{ item.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 1,
          img: "https://toidi.net/wp-content/uploads/2021/10/du-lich-han-quoc-6-601x400.jpg",
          title: "Du lịch Hàn Quốc mùa nào đẹp nhất?",
          description:
            "Là câu hỏi mà nhiều bạn quan tâm khi có dự định đi Hàn Quốc. Cùng toidi....",
        },
        {
          id: 2,
          img: "https://toidi.net/wp-content/uploads/2016/09/hoa-tam-giac-mach-ha-giang.jpg",
          title: "Ẩm thực đa dạng khi đi Phượt Hà Giang",
          description:
            "Vùng cao Hà Giang với nét văn hóa đặc trưng của nhiều dân tộc tạo nên nét ẩm thực đa dạng phong phú với nhiều đặc sản như Thắng cố, thắng dền, rêu nướng, thịt trâu và lợn gác bếp, xôi ngũ sắc, mật ong bạc hà, cháo ấu tẩu, lợn cắp nách, phở chua Hà Giang. \n Tất cả đã tạo nên một nét riêng văn hóa ẩm thực của người dân vùng cao và cũng chính điều đó đã tạo nên sức hấp dẫn du khách tới Hà Giang. Khi đến đây chắc chắn bạn đừng quên khám phá ẩm thực nơi đây với nhiều trải nghiệm mới mẻ hấp dẫn.",
        },
        {
          id: 3,
          img: "https://toidi.net/wp-content/uploads/2016/11/am-thuc-ha-giang-6.jpg",
          title: "Phượt Hà Giang giao lưu với người bản địa",
          description:
            "Du lịch Hà Giang là nơi có nhiều sản phẩm văn hóa đặc sắc từ truyền thống lâu đời của hơn 20 dân tộc, một điểm đến đáng nhớ bởi cảnh quan thiên nhiên tươi đẹp và con người mộc mạc, hiếu khách ở đây. Không giống với bất kỳ một nơi du lịch nào ở Việt Nam, ở đây du khách có thể thấy được những sản phẩm kết tinh từ truyền thống văn hóa độc đáo của người miền núi, đó là các loại khăn thêu, túi vải, áo váy với các loại hoa văn rực rỡ, có thể tham dự những phiên chợ vùng cao đầy thơ mộng. Có thể nói, sống mãi trên mảnh đất cao nguyên đá hùng vĩ và huyền thoại ấy vẫn sẽ là những nét đẹp văn hóa độc đáo mà giản dị, ấn tượng mà lặng thầm của những dân tộc “sống trong đá, chết vùi trong đá”.",
        },
      ],
    };
  },
};
</script>

<style scoped>
.div-detail {
    margin: 50px 0px;
}

.post-title {
    padding: 10px 0px;
}

.post-description {
    padding: 10px 0px;
}
</style>