<template>
  <div class="container">
    <b-row
      id="my-table"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
      small
    >
      <b-col v-for="item in items" v-bind:key="item.id">
        <PostItem :src-img="item.img" :id="item.id" @close="detailPost">
          <template #title>{{ item.title }}</template>
          <template #description>{{ item.description }}</template>
        </PostItem>
      </b-col>
    </b-row>
    <b-pagination
      v-model="currentPage"
      :per-page="perPage"
      aria-controls="my-table"
      :current-page="currentPage"
      align="right"
    ></b-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      perPage: 3,
      currentPage: 1,
      items: [
        {
          id: 1,
          img: "https://toidi.net/wp-content/uploads/2021/10/Hoa-Tu-Dang-9.jpg",
          title: "8 lý do thuyết phục bạn nhất định phải đến Nhật Bản vào mùa xuân này",
          description:
            "Đặt chân đến Nhật Bản là ước mơ của rất nhiều người, đặc biệt là…",
        },
        {
          id: 2,
          img: "https://toidi.net/wp-content/uploads/2021/08/nuoc-y-dau-truong-la-ma-600x400.jpg",
          title: "Du lịch Châu Âu Trọn Gói Nên đi Nước Nào?",
          description:
            "Du lịch Châu Âu trọn gói hiện nay đã khá phổ biến với du khách. Nhưng liệu những tour du lịch trọn gói như vậy....",
        },
        {
          id: 3,
          img: "https://toidi.net/wp-content/uploads/2021/10/chi-phi-du-lich-chau-au-3-scaled.jpg",
          title: "Chi Phí Du lịch Châu Âu bao nhiêu tiền?",
          description:
            "Chi phí du lịch Châu Âu như thế nào là câu hỏi mà nhiều người thắc mắc nhất mỗi khi có dự định đến thăm....",
        },
        {
          id: 4,
          img: "https://toidi.net/wp-content/uploads/2021/07/du-lich-nha-trang-1-600x400.jpg",
          title: "DU LỊCH NHA TRANG TỰ TÚC – CỰC ĐẦY ĐỦ VÀ CHI TIẾT",
          description:
            "Là một trong những thành phố biển đẹp nhất cả nước, Nha Trang luôn là điểm đến không ngừng “hot” trong những năm gần đây.....",
        },
        {
          id: 5,
          img: "	https://toidi.net/wp-content/uploads/2021/08/ANH1-SHUSHI-HA-NOI-768x512.jpg",
          title: "Top 6 – Nhà Hàng SuShi Hot Nhất ở Hà Nội – Ngon quên lối về",
          description:
            "Hà Nội – vùng đất cổ kính với những địa danh mang lại sức hút ấn tượng, nơi của sự dung hòa trọn vẹn những....",
        },
        {
          id: 6,
          img: "	https://toidi.net/wp-content/uploads/2021/07/be-chao.jpg",
          title: "Top 9 Đặc Sản Mộc Châu – Vừa Ngon Vừa Rẻ",
          description:
            "Người Châu Mộc chiều sương ấy Có nhớ luồn lau nẻo bến bờ Có nhớ dáng người trên độc mộc Trôi dòng nước lũ hoa....",
        },
        {
          id: 7,
          img: "https://www.cuongchan.com/wp-content/uploads/2020/06/trekking-quang-binh-32-585x390.jpg",
          title: "Trekking Quảng Bình – Review tour hang Tiên",
          description:
            "Bạn nào đi trekking Quảng Bình mà chưa có chốt đc tour nào thì có thể xem để tham khảo nhé",
        },
        {
          id: 8,
          img: "	https://www.cuongchan.com/wp-content/uploads/2019/05/DSC00141-585x390.jpg",
          title: "Kinh nghiệm du lịch Phú Quý: Review siêu tàu superdong",
          description:
            "Đây là lầu đầu tiên mình đi Phú Quý, cách đây không lâu thì bạn…",
        },
        {
          id: 9,
          img: "https://toidi.net/wp-content/uploads/2021/10/du-lich-han-quoc-6-601x400.jpg",
          title: "Du lịch Hàn Quốc mùa nào đẹp nhất?",
          description:
            "Là câu hỏi mà nhiều bạn quan tâm khi có dự định đi Hàn Quốc. Cùng toidi....",
        },
      ],
    };
  },
  methods: {
    detailPost() {
      this.$router.push({ path: "/detail" });
    },
  },
};
</script>

<style scoped>
.container {
  margin-top: 30px;
  text-align: center;
}

.post-box {
  margin-bottom: 20px;
}
</style>>
