Lạc Lạc
<template>
  <div class="container">
    <b-row class="login-form">
      <b-col md="4" offset-md="4">
        <b-form @submit.prevent="login">
          <b-form-group>
            <label for="passcode"><h1 class="login-title">Đăng nhập</h1></label>
            <b-form-input
              v-model="username"
              class="login-edt-passcode"
              type="text"
              placeholder="Enter username"
            />

            <b-form-input
              v-model="passcode"
              class="login-edt-passcode"
              type="password"
              placeholder="Enter password"
            />
          </b-form-group>
          <b-row class="login-form-remember">
            <b-col>
              <b-form-group>
                <b-form-checkbox
                  v-model="status"
                  value="true"
                  unchecked-value="false"
                >
                  <label class="login-label-remember">Remember me</label>
                </b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>
          <b-button class="login-submit" type="submit"> Đăng nhập </b-button>
          <b-row>
            <label class="login-lable-request"
              >Nếu chưa có tài khoản?
              <nuxt-link to="/signup">Tạo tài khoản</nuxt-link></label
            >
          </b-row>
        </b-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  layout: "Login",
};
</script>

<style scoped>
.login-form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

.login-title {
  color: #ffffff;
  margin-bottom: 30px;
}

.login-edt-passcode {
  margin-bottom: 15px;
  border: 0.5px solid #e5e5e5;
  border-radius: 40px;
  background-color: transparent;
  color: #e5e5e5;
}

.login-submit {
  width: 100%;
  background-color: #6e9926;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}

.login-label-remember {
  color: #e5e5e5;
  cursor: pointer;
}

.login-lable-request {
  color: #e5e5e5;
  float: right;
  cursor: pointer;
  margin: 15px;
}
</style>